body {
    background-image: url("Required_elements/Create_resume_form_\(bg\).jpeg");
    background-repeat: no-repeat;
    background-size: cover; /* You can use 'cover', 'contain', or other values */
    background-position: center;
  }

  form {
    background-color:rgb(204, 240, 240);
    padding: 20px; 
    border-radius: 10px;
  }
   
  .card {
    margin-top: 20px;
  }
  
  .progress {
    height: 20px;
  }
  
  .nav-pills .nav-item {
    margin-right: 10px; 
}
